body, html {
    height: 100vh;
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: minmax(120px, 160px) auto auto;
    grid-template-rows: 90px 55px auto 50px 60px;
    grid-template-areas:
        "logo    header  header"
        "sidebar sidebar sidebar"
        "main    main    main"
        "social  quote   quote"
        "footer  footer  footer";
    background-color: #222;
}


a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: #111;
}

a:hover {
    color: #333
}

header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: left;
}

header h1 {
    text-shadow: #fff 1px 1px 1px;
    padding-left: 20px;
    padding-right: 40px;
}

.header-bg {
    background: #444; /* Old browsers */
    background: -moz-linear-gradient(top, #888 5%, #111 85%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #888 5%,#111 85%); /* Chrome10-25,Safari5.1-6 */
    background: -o-linear-gradient(top, #888 5%,#111 85%); /* Opera 11.10-11.50 */
    background: -ms-linear-gradient(top, #888 5%,#111 85%); /* IE10 preview */
    background: linear-gradient(to bottom, #888 5%,#111 85%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

logo {
    grid-area: logo;
    display: flex;
    align-items: center;
    justify-content: center;
}

logo img {
    width: 70px;
    height: 70px;
}

sidebar {
    grid-area: sidebar;
    background-color: #333;
}

sidebar h3 {
    padding-left: 25px;
    margin-top: 15px;
}

sidebar ul {
    list-style-type: none;
    justify-content: left;
    padding-left: 120px;
    margin-top: -50px;
}

sidebar ul li {
    display: inline-block;
    padding-right: 15px;
}

social {
    grid-area: social;
    background-color: #555;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    grid-area: main;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height:100%;
    min-height:4em;
    overflow-y: auto;
    background-color: #222;
}

quote {
    grid-area: quote;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100%;
    overflow-y: auto;
    background-color: #444;
}

footer {
    grid-area: footer;
    text-align: center;
    padding-top: 10px;
    background: #444; /* Old browsers */
    background: -moz-linear-gradient(top, #444 0%, #111 80%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #444 0%,#111 80%); /* Chrome10-25,Safari5.1-6 */
    background: -o-linear-gradient(top, #444 0%,#111 80%); /* Opera 11.10-11.50 */
    background: -ms-linear-gradient(top, #444 0%,#111 80%); /* IE10 preview */
    background: linear-gradient(to bottom, #444 0%,#111 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

.donate-image {
    vertical-align: initial;
}

/*
*
*Desktop View
*
*/
@media only screen and (min-width: 768px) {

    body {
        margin: 0;
        display: grid;
        grid-template-columns: minmax(10%, 20%) auto auto;
        grid-template-rows: 120px auto auto 70px;
        grid-template-areas:
            "logo    header header"
            "sidebar main   main"
            "quote   main   main"
            "social  footer footer";
    }
    logo img {
        width: 100px;
        height: 100px;
    }
    sidebar h3 {
        padding-left: 25px;

    }

    sidebar ul {
        list-style-type: none;
        text-align: center;
        margin-top: -15px;
        padding-left: 35px;
    }

    sidebar ul li {
        display: block;
        padding: 10px;
        margin-left: -40px;
        margin-top: -15px;
    }
    social {
        background: #444; /* Old browsers */
        background: -moz-linear-gradient(top, #444 0%, #111 80%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #444 0%,#111 80%); /* Chrome10-25,Safari5.1-6 */
        background: -o-linear-gradient(top, #444 0%,#111 80%); /* Opera 11.10-11.50 */
        background: -ms-linear-gradient(top, #444 0%,#111 80%); /* IE10 preview */
        background: linear-gradient(to bottom, #444 0%,#111 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
}
